/* .table-issues > , .table-issues >  th[scope="col"].col-check {
  width: 1em;
} */


/* .table-row-issues > th[scope="col"] {
  width: 1em;
} */

.icon-issue {
  font-size: 16px;
}

/* .container-option-buttons {
  text-transform: none;
} */

.dropdown-active {
  display: block;
  position: absolute;
}